@charset "utf-8";
@media screen and (min-width: 750px) and (max-width: 1030px) {
    /*.service-box {*/
    	/*width: 100%;*/
    /*}*/
    .theme{
    	width: 100%;
    	overflow: hidden;
    }
    .cable{
    	width: 430px;
    }
    .lookup{
    	width: 434px;
    }
    .lookup input{
    	width: 320px;
    }
    .curriculum{
    	width: 100%;
    }
    .course-content{
    	width: 553px;
    }
    .course-content a{
    	padding: 0 7px;
    }
    .main{
    	height:498px;
    }
    .preschool-name-box{
    	margin-top:2px;
    }
    .books,.preschool{
		width: 990px;
    }
}