* {
  margin: 0;
  padding: 0;
  margin: auto;
  font-family: "微软雅黑,Regular";
}
a {
  text-decoration: none;
}
ul li {
  list-style: none;
}
.index {
  width: 100%;
  background: #f6faff;
}
.index .ind {
  margin-top: 50px;
  width: 1200px;
}
.index .ind .ind-top {
  width: 100%;
  position: relative;
}
.index .ind .ind-top p {
  width: 280px;
  line-height: 65px;
  font-size: 40px;
  color: white;
  letter-spacing: 8px;
  text-align: center;
  background: #ddb960;
  border-radius: 40px;
}
.index .ind .ind-top a {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 18px;
  line-height: 18px;
}
.index .banner {
  width: 100%;
  position: relative;
  /* 分页器样式 */
}
.index .banner .banner-top {
  position: absolute;
  top: 0;
  left: 19%;
  z-index: 9999;
  width: 62%;
}
.index .banner .banner-top .banner-tople {
  width: 110px;
  float: left;
}
.index .banner .banner-top .banner-tople img {
  width: 110px;
  height: 80px;
  display: block;
}
.index .banner .banner-top .banner-topmid {
  width: 50%;
  float: left;
}
.index .banner .banner-top .banner-topmid ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.index .banner .banner-top .banner-topmid ul li {
  width: 16%;
  float: left;
  font-size: 12px;
  line-height: 80px;
  text-align: center;
  color: white;
}
.index .banner .banner-top .banner-toprig {
  width: 20%;
  float: right;
  background: white;
  margin-right: 10px;
  margin-top: 25px;
  height: 30px;
}
.index .banner .banner-top .banner-toprig input {
  width: 100%;
  height: 30px;
  background: white;
  border: none;
  outline: none;
  text-indent: 40px;
  background: url(../img/ss.png) no-repeat;
  background-size: 23px 23px;
  background-position: 12px 3.5px;
  font-size: 12px;
  line-height: 30px;
}
.index .banner .banner-top .banner-topright {
  height: 5%;
  float: right;
  font-size: 12px;
  line-height: 80px;
  color: white;
}
.index .banner .banner-top .banner-topright img {
  width: 21px;
  float: left;
  margin-right: 4px;
  height: 18px;
  margin-top: 31px;
}
.index .banner .swiper-container {
  width: 100%;
  height: 600px;
}
.index .banner .swiper-pagination-bullet {
  width: 26px;
  background: #9fa8e8;
  height: 26px;
}
.index .banner .swiper-pagination-bullet-active {
  background: #85a073;
}
.index .banner .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 52px;
}
.index .jxkc {
  width: 1300px;
  overflow: hidden;
}
.index .jxkc .jxkc-mid {
  width: 1200px;
  margin-top: 50px;
}
.index .jxkc .jxkc-mid .jxkc-left {
  width: 426px;
  height: 273px;
  float: left;
  border-radius: 10px;
  box-shadow: 0 0 10px #636363;
}
.index .jxkc .jxkc-mid .jxkc-left img {
  width: 100%;
  border-radius: 10px;
  display: block;
}
.index .jxkc .jxkc-mid .jxkc-left img {
  cursor: pointer;
  transition: all 0.6s;
}
.index .jxkc .jxkc-mid .jxkc-left img:hover {
  transform: scale(1.2);
}
.index .jxkc .jxkc-mid .jxkc-rig {
  width: 715px;
  float: right;
}
.index .jxkc .jxkc-mid .jxkc-rig ul {
  width: 100%;
}
.index .jxkc .jxkc-mid .jxkc-rig ul li {
  width: 202px;
  float: left;
  margin-right: 36px;
  margin-bottom: 25px;
  height: 124px;
  border-radius: 10px;
  box-shadow: 0 0 10px #636363;
}
.index .jxkc .jxkc-mid .jxkc-rig ul li img {
  border-radius: 10px;
  width: 100%;
}
.index .jxkc .jxkc-mid .jxkc-rig ul li img {
  cursor: pointer;
  transition: all 0.6s;
}
.index .jxkc .jxkc-mid .jxkc-rig ul li img:hover {
  transform: scale(1.2);
}
.index .vip {
  width: 1300px;
  padding: 0 50px;
  overflow: hidden;
}
.index .vip .vip-mid {
  width: 1200px;
  margin-top: 50px;
}
.index .vip .vip-mid ul {
  width: 100%;
}
.index .vip .vip-mid ul li {
  width: 202px;
  float: left;
  margin-right: 47.5px;
  margin-bottom: 25px;
  height: 124px;
  border-radius: 10px;
  box-shadow: 0 0 10px #636363;
}
.index .vip .vip-mid ul li img {
  border-radius: 10px;
  width: 100%;
}
.index .vip .vip-mid ul li img {
  cursor: pointer;
  transition: all 0.6s;
}
.index .vip .vip-mid ul li img:hover {
  transform: scale(1.2);
}
.index .ms-top {
  width: 1200px;
  margin-bottom: 50px;
}
.index .ms-top p {
  width: 280px;
  line-height: 65px;
  font-size: 40px;
  color: white;
  letter-spacing: 8px;
  text-align: center;
  background: #ddb960;
  border-radius: 40px;
}
.index .ms-top a {
  position: absolute;
  right: 0;
  top: 47px;
  font-size: 18px;
  line-height: 18px;
}
.index #certify {
  position: relative;
  width: 1200px;
  margin-top: 50px;
}
.index #certify .swiper-container {
  padding-bottom: 60px;
}
.index #certify .swiper-slide-prev {
  background: white;
}
.index #certify .swiper-slide-prev img {
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.index #certify .swiper-slide-next {
  background: white;
}
.index #certify .swiper-slide-next img {
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.index #certify .swiper-slide {
  width: 520px;
  height: 408px;
  background: #fff;
  box-shadow: 0 8px 30px #ddd;
}
.index #certify .swiper-slide img {
  display: block;
}
.index #certify .swiper-slide p {
  line-height: 98px;
  padding-top: 0;
  text-align: center;
  color: #636363;
  font-size: 1.1em;
  margin: 0;
}
.index #certify .swiper-pagination {
  width: 100%;
  bottom: 20px;
}
.index #certify .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 5px;
  border: 3px solid #fff;
  background-color: #d5d5d5;
  width: 10px;
  height: 10px;
  opacity: 1;
}
.index #certify .swiper-pagination-bullets .swiper-pagination-bullet-active {
  border: 3px solid #00aadc;
  background-color: #fff;
}
.index .jybg {
  width: 1330px;
  overflow: hidden;
}
.index .jybg .jybg-mid {
  width: 100%;
}
.index .jybg .jybg-mid .jybg-left {
  width: 335px;
  float: left;
}
.index .jybg .jybg-mid .jybg-left img {
  margin-top: 20px;
  box-shadow: 0 0 10px #b4cbe5;
  width: 335px;
  height: 154px;
}
.index .jybg .jybg-mid .jybg-rig {
  width: 910px;
  float: right;
  border: 1px solid #b4cbe5;
  padding-left: 30px;
  margin-top: 20px;
  padding-bottom: 17px;
}
.index .jybg .jybg-mid .jybg-rig ul {
  width: 100%;
}
.index .jybg .jybg-mid .jybg-rig ul li {
  width: 100%;
  margin-top: 17px;
}
.index .jybg .jybg-mid .jybg-rig ul li p {
  font-size: 22px;
  line-height: 24px;
  color: #333333;
  letter-spacing: 6px;
}
.index .jybg .jybg-mid .jybg-rig ul li img {
  width: 100%;
  display: block;
}
.index .jybg .jybg-mid .jybg-rig ul li span {
  font-size: 16px;
  line-height: 22px;
  color: #666666;
  letter-spacing: 6px;
}
.index .about {
  width: 1330px;
  overflow: hidden;
}
.index .about .about-mid {
  width: 100%;
  margin-top: 20px;
}
.index .about .about-mid .about-left {
  width: 335px;
  float: left;
}
.index .about .about-mid .about-rig {
  width: 910px;
  float: right;
  border: 1px solid #d4d8dd;
  padding-left: 30px;
  padding-bottom: 17px;
}
.index .about .about-mid .about-rig p {
  font-size: 16px;
  line-height: 30px;
  color: #5a6167;
  letter-spacing: 6px;
}
.index .fxzs {
  width: 100%;
  margin-top: 40px;
  padding: 300px 0;
  background: url(../img/jy3.jpg) no-repeat center;
  background-size: 100%;
}
.index .fxzs .fxzs-top {
  width: 100%;
}
.index .fxzs .fxzs-top p {
  font-size: 54px;
  color: white;
  letter-spacing: 4px;
  line-height: 170px;
  text-align: center;
}
.index .fxzs .fxzs-mid {
  width: 90%;
}
.index .fxzs .fxzs-mid ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.index .fxzs .fxzs-mid ul li {
  width: 24%;
}
.index .fxzs .fxzs-mid ul li .fxzs-mid1 {
  width: 100%;
  overflow: hidden;
}
.index .fxzs .fxzs-mid ul li .fxzs-mid1 p {
  font-size: 114px;
  display: block;
  float: left;
  line-height: 134px;
}
.index .fxzs .fxzs-mid ul li .fxzs-mid1 span {
  float: left;
  font-size: 12px;
  line-height: 14px;
  margin-top: 110px;
  color: white;
}
.index .fxzs .fxzs-mid ul li .fxzs-mid2 {
  float: left;
}
.index .fxzs .fxzs-mid ul li .fxzs-mid2 p {
  font-size: 12px;
  line-height: 20px;
  color: white;
  text-align: center;
}
.index .fxzs .fxzs-mid ul .aa {
  border-top: 2px solid #81ab9b;
}
.index .fxzs .fxzs-mid ul .aa .fxzs-mid1 p {
  color: #cdda72;
}
.index .fxzs .fxzs-mid ul .aa .fxzs-mid2 {
  width: 40%;
}
.index .fxzs .fxzs-mid ul .bb {
  border-top: 2px solid #81ab9b;
}
.index .fxzs .fxzs-mid ul .bb .fxzs-mid1 p {
  color: #a4ce6c;
}
.index .fxzs .fxzs-mid ul .bb .fxzs-mid2 {
  width: 20%;
}
.index .fxzs .fxzs-mid ul .cc {
  border-top: 2px solid #81ab9b;
}
.index .fxzs .fxzs-mid ul .cc .fxzs-mid1 p {
  color: #72daad;
}
.index .fxzs .fxzs-mid ul .cc .fxzs-mid2 {
  width: 30%;
}
.index .fxzs .fxzs-mid ul .dd {
  border-top: 2px solid #7bc2d4;
}
.index .fxzs .fxzs-mid ul .dd .fxzs-mid1 p {
  color: #72cdda;
}
.index .fxzs .fxzs-mid ul .dd .fxzs-mid2 {
  width: 90%;
}
.index .foot {
  width: 100%;
  overflow: hidden;
  background: #c1c3c5;
}
.index .foot .foot-top {
  width: 1200px;
  overflow: hidden;
  padding-top: 40px;
}
.index .foot .foot-top .foot-left {
  width: 40%;
  float: left;
}
.index .foot .foot-top .foot-left ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.index .foot .foot-top .foot-left ul li {
  width: 24%;
  margin-top: 0;
}
.index .foot .foot-top .foot-left ul li a {
  width: 100%;
  display: block;
  font-size: 18px;
  letter-spacing: 5px;
  margin-bottom: 28px;
  line-height: 20px;
  color: #5a6167;
  text-align: center;
}
.index .foot .foot-top .foot-left ul .xian {
  width: 1px;
  height: 200px;
  margin-top: 0;
  border-left: 1px solid #abadaf;
}
.index .foot .foot-top .foot-rig {
  width: 36%;
  float: right;
}
.index .foot .foot-top .foot-rig ul {
  width: 100%;
}
.index .foot .foot-top .foot-rig ul li {
  width: 40%;
  float: left;
  margin-right: 10%;
}
.index .foot .foot-top .foot-rig ul li img {
  width: 100%;
  display: block;
}
.index .foot .foot-top .foot-rig ul li p {
  font-size: 14px;
  line-height: 26px;
  color: #666666;
  letter-spacing: 3px;
  text-align: center;
}
.index .foot .foot-bot {
  width: 96%;
  border-top: 1px solid #abadaf;
}
.index .foot .foot-bot p {
  font-size: 14px;
  line-height: 72px;
  text-align: center;
  color: #666666;
}
