@charset "utf-8";
/*!*---------------header----------------------*!*/
/*[class^="icon-"], [class*="icon-"] {*/
	/*background-image:url(../icon/icon.png);*/
	/*display:inline-block;*/
	/*vertical-align:middle;*/
/*}*/
/*[class^="wicon-"], [class*="wicon-"] {*/
	/*background-image:url(../icon/wechat-icon.png);*/
/*}*/
/*!* CSS Document *!*/
/*.header,.banner,.content,.footer,.toppic,.itembox{*/
	/*float:left;*/
	/*width:100%;*/
	/*min-width:1200px;*/
/*}*/
/*!*.wrap{*!*/
	/*!*width:1200px;*!*/
	/*!*margin:0 auto;*!*/
	/*!*zoom:1; !* for ie6 & ie7 *!*!*/
/*!*}*!*/
/*.wrap:before,.wrap:after {*/
    /*content:"";*/
    /*display:table;*/
/*}*/
/*.wrap:after {*/
    /*clear:both;*/
    /*overflow:hidden;*/
/*}*/
/*!****************************!*/
/*.header{*/
	/*background-color:#fff;*/
    /*border-bottom: 1px solid #d8d8d8;*/
	/*border-bottom: 1px rgba(255, 255, 255, 0.15) solid;*/
    /*-webkit-transition: background-color 0.1s 0.4s;*/
    /*-moz-transition: background-color 0.1s 0.4s;*/
    /*-o-transition: background-color 0.1s 0.4s;*/
    /*transition: background-color 0.1s 0.4s;*/
/*}*/
/*.header_top{*/
	/*height:30px;*/
	/*line-height:30px;*/
	/*background-color:#f4f4f4;*/
	/*border-bottom:solid 1px #ddd;*/
/*}*/
/*.header_top .fl a{*/
	/*margin-right:5px;*/
/*}*/
/*.header_top_ul {*/
/*}*/
/*.header_top_ul li{*/
	/*float:left;*/
	/*color:#ccc;*/
/*}*/
/*.header_top_nav{*/
	/*position:relative;*/
	/*padding:0 5px;*/
/*}*/
/*.header_top_nav a {*/
    /*float: left;*/
    /*margin-right: 7px;*/
    /*color: #545454;*/
/*}*/

/*.header_top_nav a:hover{*/
	/*color:#0477c0;*/
/*}*/
/*.header_top_nav .icon-nav {*/
    /*float: left;*/
	/*width:14px;*/
	/*height:30px;*/
	/*margin-right:5px;*/
/*}*/
/*.header_top_nav .icon-h01 {*/
	/*background-position:-18px -11px;*/
/*}*/
/*.header_top_nav .icon-h02 {*/
	/*background-position:-68px -11px;*/
/*}*/
/*.header_top_nav .icon-h03 {*/
	/*background-position:-118px -11px;*/
/*}*/
/*.header_top_nav .icon-h04 {*/
	/*background-position:-568px -11px;*/
/*}*/
/*.header_top_nav .icon-nav-arrow {*/
    /*display: block;*/
    /*float: left;*/
    /*width: 8px;*/
    /*height: 4px;*/
    /*line-height: 6px;*/
    /*overflow: hidden;*/
    /*margin-top: 13px;*/
	/*background-position:-171px -23px;*/
/*}*/
/*!*.header_mid{*!*/
	/*!*height:100px;*!*/
	/*!*padding:30px 0;*!*/
/*!*}*!*/
/*!*.header_mid_left{*!*/
	/*!*float:left;*!*/
	/*!*width:340px;*!*/
	/*!*height:100px;*!*/
/*!*}*!*/
/*!*.header_mid_left img{*!*/
	/*!*float:left;*!*/
	/*!*margin-right:15px;*!*/
/*!*}*!*/
/*!*.header_mid_left .city{*!*/
	/*!*float:left;*!*/
	/*!*margin-top:20px;*!*/
/*!*}*!*/
/*!*.header_mid_left .city_hd{*!*/
	/*!*cursor:pointer;*!*/
/*!*}*!*/
/*!*.header_mid_left .city_hd span{*!*/
	/*!*font-size:14px;*!*/
	/*!*line-height:25px;*!*/
	/*!*color:#333;*!*/
	/*!*font-weight:bold;*!*/
/*!*}*!*/
/*!*.header_mid_left .city_hd p{*!*/
	/*!*color:#9d9d9d;*!*/
	/*!*line-height:20px;*!*/
/*!*}*!*/
/*!*.header_mid_center{*!*/
	/*!*float:left;*!*/
	/*!*width:620px;*!*/
/*!*}*!*/
/*!*.search_box{*!*/
	/*!*position:relative;*!*/
/*!*}*!*/
/*!*.search_hd{*!*/
	/*!*height:25px;*!*/
/*!*}*!*/
/*!*.search_hd li {*!*/
    /*!*color: #545454;*!*/
    /*!*text-align: center;*!*/
    /*!*float: left;*!*/
    /*!*width: 50px;*!*/
    /*!*height: 25px;*!*/
    /*!*line-height: 25px;*!*/
    /*!*cursor: pointer;*!*/
/*!*}*!*/
/*!*.search_hd li.selected {*!*/
	/*!*color:#fff;*!*/
	/*!*background-color:#06f;*!*/
/*!*}*!*/
/*!*.search_bd{*!*/
	/*!*padding: 3px 0 3px 3px;*!*/
    /*!*height: 34px;*!*/
    /*!*background: #06f;*!*/
/*!*}*!*/
/*!*.search_button {*!*/
    /*!*position: absolute;*!*/
    /*!*right: 0;*!*/
    /*!*top: 25px;*!*/
    /*!*z-index: 100;*!*/
    /*!*width: 122px;*!*/
    /*!*height: 40px;*!*/
    /*!*overflow: hidden;*!*/
    /*!*text-align: center;*!*/
/*!*}*!*/
/*!*.search_button .btn-search {*!*/
    /*!*font-size: 18px;*!*/
    /*!*color: #fff;*!*/
    /*!*background-color: #06f;*!*/
    /*!*height: 40px;*!*/
	/*!*line-height:40px;*!*/
    /*!*width: 100%;*!*/
	/*!*display:block;*!*/
/*!*}*!*/
/*!*.search_button .btn-search:hover {*!*/
    /*!*background-color: #005ce6;*!*/
/*!*}*!*/
/*!*.search_combobox{*!*/
    /*!*background: #fff;*!*/
/*!*}*!*/
/*!*.search_combobox input{*!*/
	/*!*padding: 6px 0;*!*/
    /*!*text-indent: 10px;*!*/
    /*!*height: 22px;*!*/
    /*!*line-height: 22px;*!*/
    /*!*width: 490px;*!*/
    /*!*border: none;*!*/
    /*!*outline: 0;*!*/
    /*!*background: #fff;*!*/
/*!*}*!*/
/*.search_hot {*/
    /*padding: 10px 0 0 0;*/
    /*height: 20px;*/
    /*overflow: hidden;*/
/*}*/
/*.search_hot a {*/
    /*float: left;*/
    /*margin-right: 15px;*/
/*}*/
/*!*.header_mid_right {*!*/
	/*!*float:right;*!*/
/*!*}*!*/
/*.header_mid_right li{*/
	/*float:left;*/
	/*margin:20px 10px 0;*/
	/*text-align:center;*/
/*}*/
/*.header_mid_right li span{*/
	/*width:40px;*/
	/*height:40px;*/
	/*margin:5px 0 8px;*/
/*}*/
/*.header_mid_right .icon-01{*/
	/*background-position:-305px -5px;*/
/*}*/
/*.header_mid_right .icon-02{*/
	/*background-position:-355px -5px;*/
/*}*/
/*.header_mid_right .icon-03{*/
	/*background-position:-405px -5px;*/
/*}*/
/*.header_bot{*/
	/*height:50px;*/
/*}*/
/*.header_sider_nav{*/
	/*position:relative;*/
	/*float:left;*/
	/*width:220px;*/
	/*height:50px;*/
	/*z-index:10;*/
/*}*/
/*.header_sider_menu{*/
	/*height:50px;*/
	/*font-size:18px;*/
	/*line-height:50px;*/
	/*color:#fff;*/
	/*background-color:#188eee;*/
	/*z-index:20;*/
/*}*/
/*.header_sider_menu i{*/
	/*float:left;*/
	/*width:50px;*/
	/*height:50px;*/
	/*background-position:-450px 0;*/
/*}*/
/*.header_sider_box{*/
	/*position: absolute;*/
	/*top:50px;*/
	/*left:0;*/
	/*width:220px;*/
	/*background-color:#0477c0;*/
	/*display:none;*/
	/*z-index:25;*/
/*}*/
/*.header_sider_nav.on .header_sider_box,.header_sider_nav.hover .header_sider_box{*/
	/*display:block;*/
/*}*/
/*.header_sider_box ul{*/
/*}*/
/*.header_sider_box li{*/
	/*height:40px;*/
	/*padding:15px;*/
	/*background-color:#0477c0;*/
	/*border-bottom:solid 1px #1681c4;*/
	/*transition: background-color .2s;*/
/*}*/
/*.header_sider_box li.on{*/
	/*background-color:#1b71b7;*/
/*}*/
/*.header_sider_box li h3{*/
	/*margin-bottom:6px;*/
	/*color:#eee;*/
	/*font-size:17px;*/
	/*line-height:20px;*/
/*}*/
/*.header_sider_box li i{*/
	/*position:absolute;*/
	/*top:15px;*/
	/*right:15px;*/
	/*width:8px;*/
	/*height:14px;*/
	/*background-position:-521px -18px;*/
/*}*/
/*.header_sider_box li p a{*/
	/*margin-right:10px;*/
	/*color:#97d2f7;*/
	/*font-size:12px;*/
	/*line-height:14px;*/
/*}*/
/*.header_sider_box li p a:hover{*/
	/*color:#fff;*/
/*}*/
/*.sider_float{*/
	/*-webkit-transform: translateZ(0);*/
    /*-moz-transform: translateZ(0);*/
    /*-ms-transform: translateZ(0);*/
    /*-o-transform: translateZ(0);*/
    /*transform: translateZ(0);*/
    /*display: none;*/
    /*position:absolute;*/
	/*top:0px;*/
	/*left:218px;*/
    /*padding:25px;*/
    /*width:892px;*/
    /*height: 390px;*/
    /*border: 2px solid #188eee;*/
    /*box-shadow: 2px 2px 6px rgba(0,0,0,.5);*/
    /*background-color: #fff;*/
    /*color: #333;*/
    /*font-size: 12px;*/
    /*z-index: 22;*/
/*}*/
/*.sider_float_item{*/
	/*overflow:hidden;*/
/*}*/
/*.sider_float_right{*/
	/*float:right;*/
	/*width:178px;*/
/*}*/
/*.sider_float_right dl{*/
	/*overflow:hidden;*/
/*}*/
/*.sider_float_right dd{*/
	/*margin-bottom:14px;*/
	/*border:solid 1px #eee;*/
/*}*/
/*.sider_float_right .top dd{*/
	/*width:82px;*/
	/*height:82px;*/
/*}*/
/*.sider_float_right .bot dd{*/
	/*width:176px;*/
	/*height:88px;*/
/*}*/
/*.sider_float_left{*/
	/*float:left;*/
	/*width:690px;*/
/*}*/
/*.sider_float_left dl{*/
	/*margin-bottom:20px;*/
	/*padding-bottom:20px;*/
	/*border-bottom:solid 1px #eee;*/
/*}*/
/*.sider_float_left dt{*/
	/*padding-bottom:10px;*/
	/*font-size:16px;*/
	/*line-height:20px;*/
	/*color:#333;*/
	/*font-weight:600;*/
/*}*/
/*.sider_float_left dd{*/
	/*font-size:14px;*/
	/*line-height:20px;*/
/*}*/
/*.sider_float_left dd a{*/
	/*margin-right:20px;*/
/*}*/
/*.header_nav{*/
	/*margin-left:230px;*/
	/*height:50px;*/
/*}*/
/*.header_nav ul{*/
	/*font-size:17px;*/
	/*line-height:50px;*/
/*}*/
/*.header_nav li{*/
	/*float:left;*/
	/*margin: 0 8px;*/
    /*text-align: center;*/
    /*padding: 0 4px;*/
/*}*/
/*.header_nav li a{*/
	/*color:#000;*/
/*}*/
/*.header_nav li.on a,.header_nav li a:hover{*/
	/*color:#f00;*/
/*}*/
/*.header_nav li img{*/
	/*position:relative;*/
	/*margin:0 3px 0 0;*/
	/*display:inline-block;*/
/*}*/
/*!*********************!*/

/*.itembox {*/
	/*margin-bottom:25px;*/
/*}*/
/*.itemtit {*/
	/*padding-bottom:15px;*/
	/*line-height:30px;*/
	/*min-height:30px;*/
/*}*/
/*.itemtit .fr{*/
	/*font-size:14px;*/
	/*color:#999;*/
/*}*/
/*.itemtit.bl {*/
	/*height:30px;*/
	/*padding-bottom:10px;*/
	/*border-bottom:solid 1px #3e84d8;*/
/*}*/
/*.itemtit .indextit01{*/
	/*font-size:18px;*/
	/*color:#000;*/
	/*font-weight:600;*/
/*}*/
/*.itemtit .hyh{*/
	/*float:right;*/
	/*font-size:14px;*/
	/*line-height:30px;*/
	/*font-weight:normal;*/
/*}*/
/*.itemtit .hyh i{*/
	/*float:left;*/
	/*width:30px;*/
	/*height:30px;*/
	/*background-position:-510px -159px;*/
/*}*/
/*.itemtit .indextit02{*/
	/*float:left;*/
	/*font-size:22px;*/
	/*color:#000;*/
/*}*/
/*.itemtit .indextit02 img{*/
	/*float:left;*/
	/*margin:2px 20px 0 0;*/
/*}*/
/*.itemtit .indextit03{*/
	/*float:left;*/
	/*font-size:22px;*/
	/*color:#000;*/
/*}*/
/*.itemtit .indextit03 em{*/
	/*float:left;*/
	/*width:4px;*/
	/*height:24px;*/
	/*margin:3px 15px 0 0;*/
	/*background-color:#0986ec;*/
/*}*/
/*!*.classselect{*!*/
	/*!*float:right;*!*/
/*!*}*!*/
/*!*.classselect li{*!*/
	/*!*position:relative;*!*/
	/*!*float:left;*!*/
	/*!*height:30px;*!*/
	/*!*padding:0 15px 8px;*!*/
	/*!*font-size:14px;*!*/
	/*!*line-height:30px;*!*/
	/*!*color:#000;*!*/
	/*!*border-top:solid 3px #fff;*!*/
	/*!*cursor:pointer;*!*/
/*!*}*!*/
/*!*.classselect li.selected{*!*/
	/*!*color:#3e84d8;*!*/
	/*!*background-color:#fff;*!*/
	/*!*border-top:solid 3px #3e84d8;*!*/
	/*!*border-left:solid 1px #3e84d8;*!*/
	/*!*border-right:solid 1px #3e84d8;*!*/
/*!*}*!*/
/*.classselect li:hover{*/
	/*color:#3e84d8;*/
/*}*/








/*!*********************!*/
/*.footer{*/
	/*color:#000;*/
/*}*/
/*.foot_top {*/
	/*position: relative;*/
    /*height: 54px;*/
    /*padding: 20px 0;*/
    /*margin-bottom: 25px;*/
    /*background-color:#f5f5f5;*/
    /*text-align: center;*/
/*}*/
/*.botservicelist,.footer_main,.foot_bot{*/
	/*overflow:hidden;*/
	/*width:1200px;*/
	/*margin:0 auto;*/
/*}*/
/*.botservicelist li{*/
	/*float:left;*/
	/*width:25%;*/
/*}*/
/*.footer_main {*/
	/*margin-bottom:40px;*/
/*}*/
/*.footer_main .left{*/
	/*float:left;*/
/*}*/
/*.footer_main .left dl{*/
	/*float:left;*/
	/*width:199px;*/
	/*height:160px;*/
	/*margin-right:30px;*/
	/*border-right:solid 1px #ddd;*/
/*}*/
/*.footer_main .left dt{*/
	/*font-size:17px;*/
	/*line-height:24px;*/
	/*padding:8px 0;*/
/*}*/
/*.footer_main .left dd{*/
	/*font-size:14px;*/
	/*line-height:24px;*/
/*}*/
/*.footer_main .right{*/
	/*float:right;*/
	/*width:200px;*/
	/*margin-right:50px;*/
	/*color:#000;*/
	/*text-align:center;*/
/*}*/
/*.footer_main .right span{*/
	/*width:50px;*/
	/*height:50px;*/
	/*margin:15px 0;*/
	/*background-position:-550px -50px;*/
/*}*/
/*.footer_main .right p{*/
	/*font-size:32px;*/
	/**/
/*}*/
/*.footer_main .right div{*/
/*}*/
/*.foot_bot{*/
	/*border-top: 1px solid #E5E5E5;*/
    /*padding: 20px 0 30px;*/
    /*text-align: center;*/
/*}*/
/*.foot_bot .links a {*/
    /*margin: 0 10px;*/
/*}*/
/*.foot_bot .copyright {*/
    /*margin: 10px 0 20px;*/
/*}*/
/*.foot_bot .copyright img{*/
	/*vertical-align: middle;*/
/*}*/
/*.foot_bot .authentication a {*/
    /*margin: 0 5px;*/
/*}*/

/*!***************!*/

/*.page{*/
	/*padding:30px 0;*/
	/*text-align:center;*/
	/*font-size:14px;*/
/*}*/
/*.page a{*/
	/*width:38px;*/
	/*height:38px;*/
	/*margin-right:10px;*/
	/*line-height:38px;*/
	/*color:#333;*/
	/*background-color:#f7f7f7;*/
	/*text-align:center;*/
	/*display:inline-block;*/
	/*border:solid 1px #d8d8d8;*/
	/*border-radius:3px;*/
/*}*/
/*.page .home,.page .prev,.page .next,.page .end{*/
	/*width:58px;*/
/*}*/
/*.page span{*/
	/*width:auto;*/
	/*height:40px;*/
	/*margin-right:10px;*/
	/*line-height:40px;*/
	/*color:#333;*/
	/*text-align:center;*/
	/*display:inline-block;*/
/*}*/
/*!*.page a.prev,.page a.next,.page a.home,.page a.end{*/
	/*width: auto;*/
	/*padding:0 10px;*/
/*}*!*/
/*!*.page a:hover,.page a.cursor{*!*/
	/*!*color:#fff;*!*/
	/*!*background-color:#f13a3a;*!*/
	/*!*border:solid 1px #f13a3a;*!*/
/*!*}*!*/
/*!*******loginbox******!*/
/*.loginbox{*/
	/*position:fixed;*/
	/*top:0;*/
	/*left:0;*/
	/*right:0;*/
	/*bottom:0;*/
	/*background-color:#23262a;*/
	/*background-image:url(../icon/lg1.png), url(../icon/lg2.png), url(../icon/lg3.png);*/
	/*background-repeat:no-repeat;*/
	/*background-position:center center;*/
	/*background-size: 50%;*/
	/*z-index:100;*/
/*}*/
/*.loginshadow{*/
	/*position:absolute;*/
	/*left:50%;*/
	/*top:50%;*/
	/*width:380px;*/
	/*height:390px;*/
	/*margin:-200px 0 0 -190px;*/
	/*background-color:#fff;*/
	/*z-index:100;*/
/*}*/
/*.loginshadow:before,.loginshadow:after{*/
	/*content:'';*/
	/*position:absolute;*/
	/*width:380px;*/
	/*height:400px;*/
	/*background-color:#fff;*/
	/*box-shadow:0 0 6px 2px rgba(0,0,0,.3);*/
/*}*/
/*.loginshadow:before{*/
	/*transform:rotate(2deg);*/
	/*-ms-transform:rotate(2deg);*/
	/*-moz-transform:rotate(2deg);*/
	/*-webkit-transform:rotate(2deg);*/
	/*-o-transform:rotate(2deg); */
/*}*/
/*.loginshadow:after{*/
	/*transform:rotate(-2deg);*/
	/*-ms-transform:rotate(-2deg);*/
	/*-moz-transform:rotate(-2deg);*/
	/*-webkit-transform:rotate(-2deg);*/
	/*-o-transform:rotate(-2deg); */
/*}*/

/*.loginwrap{*/
	/*position:absolute;*/
	/*left:50%;*/
	/*top:50%;*/
	/*width:340px;*/
	/*height:360px;*/
	/*margin:-200px 0 0 -190px;*/
	/*padding:19px;*/
	/*background-color:#fff;*/
	/*border:solid 1px #ccc;*/
	/*z-index:101;*/
	/*box-shadow:0 0 3px 2px rgba(0,0,0,.2);*/
/*}*/
/*.loginwrap h3{*/
	/*margin-bottom:35px;*/
	/*padding-bottom:10px;*/
	/*line-height:30px;*/
	/*font-size:16px;*/
	/*color:#333;*/
	/*font-weight:600;*/
	/*text-align:center;*/
	/*border-bottom:solid 1px #ccc;*/
/*}*/
/*.loginwrap dl{*/
	/*margin-bottom:25px;*/
/*}*/
/*.loginwrap dt{*/
	/*margin-bottom:20px;*/
	/*font-size:14px;*/
	/*color:#555;*/
	/*line-height:20px;*/
/*}*/
/*.loginwrap dd input{*/
	/*width:330px;*/
	/*height:30px;*/
	/*padding:4px;*/
	/*line-height:30px;*/
	/*border:solid 1px #ccc;*/
	/*border-radius:5px;*/
/*}*/
/*.loginwrap dd input:focus{*/
	/*border-color:#8fd8ea;*/
	/*box-shadow:0 0 2px 2px rgba(0,175,220,.1);*/
/*}*/
/*.loginwrap dd a{*/
	/*width:100%;*/
	/*height:40px;*/
	/*font-size:15px;*/
	/*line-height:40px;*/
	/*color:#fff;*/
	/*font-weight:600;*/
	/*background-color:#00a2ca;*/
	/*display:block;*/
	/*text-align:center;*/
	/*border-radius:5px;*/
/*}*/
/*.loginwrap dd a:hover{*/
	/*background-color:#00add9;*/
/*}*/

/*登录后*/
.login-box{float:right;height:42px;position:relative;}
.login-box a {float: left;margin-right: 7px;}
.login-box .icon-nav-arrow {display: block;float: left;width: 8px;height: 4px;line-height: 6px;overflow: hidden;margin-top: 13px;background-position:-171px -23px;}
.login-box img{float:left;width:40px;height:40px;margin-right:10px;border-radius:50%;border:solid 2px #2b92f9;}
.login-box span{width:90px;height:30px;padding-bottom:3px;font-size:14px;line-height:30px;background-position:-515px 15px;text-align:center;text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.header_top_nav:hover .login-after-position{position:absolute;top:29px;right:0; width:142px; height:auto; border:#eeeeee 1px solid; z-index:778;  background:#ffffff;  display: block; clear:both}
.header_top_nav .login-after-position{ display:none;}
.login-box:hover .position{position:absolute;top:31px;right:0; width:93px;text-align:center;height:auto; border:#eeeeee 1px solid; z-index:778;  background:#ffffff;  display: block; clear:both}
.login-box .position{ display:none;}
.login-after-position dd a{ height:40px; line-height:40px; width:122px; display:block}
.login-after-bdbt{ border-bottom:1px solid #eeeeee}

/*头部消息提示*/
.news-msg{position:  absolute;top:31px; right:auto; width:200px; border:#eeeeee 1px solid;height:auto;z-index:777; background:#ffffff;  display: block; font-size:12px; }
.news-msg li{padding:0 10px;height:40px; width:auto;line-height:40px;z-index:666; background:#ffffff;  display: inline-block; position:relative; }
.news-msg .chanchu-ico{position:absolute;top:50px; right:2; width:180px; padding-right:30px;border:#eeeeee 1px solid;height:auto;z-index:777; background:#ffffff;  display:; font-size:12px; }
.shanchu-ico{width:12px; height:12px; font-size:0; display: inline-block; position: absolute; color:#999999; line-height:12px; text-align:center; z-index:778; right:12px; top:13px; font-size:20px;}

#menu_box{width:102px;height:auto;margin-top: 17px;position:absolute;z-index: 999;display:none;background-color: #ffffff;border: solid 1px #ccc;}
#menu_box a{text-align: center;float: left;height:50px;line-height: 50px;width:100%;padding:0;}
#menu_box a:hover{background-color: #ffffff;}
/*.menu_nav {
    float: left;
    height: 33px;
    margin-top: 17px;
    line-height: 16px;
    border-right: solid 1px #ccc;
}*/
/*首页的课程效果*/
.zglist01 li{
    float:left;
    width:218px;
    height:210px;
    padding:5px;
    margin:5px;
    border:solid 1px #dcdcdc;
}
.zglist01 li:hover{
    border-color:#188eee;
}